body{
    background-color: black;
    header{
    
    }
    section{
        .container{
            .row{
                .col-sm-12{
                    background-color:  rgb(216, 230, 25);
                    .card{
                        border: none;
                        .row{
                            .col-md-6{
                                img{

                                }
                            }
                            .col-md-6{
                                .card-body{
                                    h5{

                                    }
                                    p{

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}